@model IEnumerable<Assignemnt1_project.Models.player>

@{
    ViewBag.Title = "Players";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 >Players Table</h2>
 @if(User.Identity.IsAuthenticated)
 {<p>
    @Html.ActionLink("Create New", "Create")
</p>}
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.team.team_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.points_per_game)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rebonds_per_game)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.injury)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.team.team_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.points_per_game)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rebonds_per_game)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.injury)
        </td>
        @if (User.Identity.IsAuthenticated)
        {<td>

            @Html.ActionLink("Edit", "Edit", new { id = item.player_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.player_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.player_id })
        </td>
        }
    </tr>
}

</table>
