@model Assignemnt1_project.Models.team

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.team_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.win)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.win)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.team_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
