@model IEnumerable<Assignemnt1_project.Models.team>

@{
    ViewBag.Title = "teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 >Teams Table</h2>
@if (User.Identity.IsAuthenticated){ 
<p>
    @Html.ActionLink("Create New", "Create")
</p>
 }
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.team_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.conference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.win)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.team_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.conference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.win)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lost)
        </td>
        @if (User.IsInRole("Administrator"))
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.team_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.team_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.team_id })
        </td>
        }
    </tr>
}

</table>
